[submodule "third_party/bgfx.cmake"]
	path = third_party/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake
[submodule "third_party/libsndfile"]
	path = third_party/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
